<app-header pageName="Settings" backUrl="home"></app-header>

<ion-content class="ion-padding-horizontal">

  <ion-card>
    <ion-card-header>
      <ion-card-title>Settings</ion-card-title>
      <ion-card-subtitle>Set your preferences</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      There are two ways to get to your phone's settings.
      You can swipe down on the notification bar at the top of your phone display, then tap on the top right account icon, then tap on Settings.
      Or you can tap on the “all apps” app tray icon in the bottom middle of your home screen.
    </ion-card-content>
  </ion-card>

</ion-content>
