<app-header backUrl="/inscribir" pageName="Eventos semanales"></app-header>

<ion-content>
  <div style="margin-top: 10vh; width: 100%">
    <div style="width: 100%">
      <h1>Bienvenido al evento:</h1>
      <h1>"Higiene y seguridad" !</h1>
    </div>
    <img src="../../../assets/imgs/EventoEjemplo.png">
    <h1 class="text4">Horario 11:00 a 12:00</h1>
    <h1 class="text7">Se ha registrado correctamente</h1>
    <h1 class="text7">Asiento asignado Nº10</h1>
  </div>
  <div class="displayFlex">
    <button routerLink="/qrevento" class="btnTramitar">Ver Ticket</button> 
  </div>

</ion-content>