<ion-header>
</ion-header>

<ion-content [style]="style" class="ion-padding">
  <div style="margin-top: 10vh; width: 100%">
    <img src="../../../assets/imgs/logo_mercadona.png" alt="mercadona_logo">
    <h1>Gracias Marie</h1>
    <div style="width: 100%">
      <h3>Muchas gracias Marie por recoger tu compra! Nos vemos muy pronto!</h3>
    </div>
  </div>
  <div class="displayFlex">
    <button (click)="RegresarAHome()" slot="end"  [ngClass]="buttonStyle">Seguir Comprando</button>
  </div>

</ion-content>