<ion-header>
            <ion-label class="titulo">{{title}}</ion-label>
            <div class="dos2">
              <img src="../../../assets/imgs/furgoneta-de-reparto.png" alt="delivery" width="60px" height="60px">
              <ion-label class="deliver">Entrega</ion-label>
              <ion-label class="edit">Editar</ion-label><br>
              <ion-label>sáb,19 jun de 08:00-09:00 <br> Carrer Gran de Sant Andreu,241, 1 1,08830,Barcelona</ion-label>
            </div>
            <div class="dos">
              <img src="../../../assets/imgs/llamada-telefonica.png" alt="delivery" width="40px" height="40px">
              <ion-label class="deliver2">Añadir teléfono</ion-label>
              <img class="plus" src="../../../assets/imgs/plus.png" alt="delivery" width="40px" height="40px">
            </div>
            <div class="dos">
              <img src="../../../assets/imgs/tarjeta-de-credito.png" alt="delivery" width="40px" height="40px">
              <ion-label class="deliver2">Añadir targeta</ion-label>
              <img class="plus" src="../../../assets/imgs/plus.png" alt="delivery" width="40px" height="40px">
            </div>
            <button class="btn_custom_green">Realizar el pago</button> 
</ion-header>
